BasedOnStyle: Google

Language: Cpp
Standard: Latest

ColumnLimit: 100

AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: None
DerivePointerAlignment: false
FixNamespaceComments: false
NamespaceIndentation: All

IncludeCategories:
  - Regex: "^<[^.]*>$"
    Priority: 1
  - Regex: "^<.*>$"
    Priority: 2
  - Regex: '^".*"$'
    Priority: 3
